<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wind Farm Map</title>
    <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
     <!-- Turf CDN-->
     <script src='https://unpkg.com/@turf/turf@6/turf.min.js'></script>
     <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    <!-- Include Chartjs via CDN-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='turbine-at-angle.png') }}">
    <script src = "https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href ="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">
    
    
    <style>

        #map { height:100%; 
        }

        body {
            height: 100vh; /* Ensure the body takes the full height of the viewport */
            width: 100%; /* Ensure the body takes the full width of the viewport */
        }
        .container {
            display: grid;
            grid-template-rows: repeat(10, 1fr); /* Split into four rows */
            grid-template-columns: repeat(10, 1fr);
            gap: 25px;
            max-width: 100%; /* Set to 100% to take up full width of the viewport */
            /* width: 100vw; Ensure the container takes the full width of the viewport */
            height: 100%; /* Ensure the container takes the full height of the viewport */
        }

        .container > div {
            background-color: white;
            border-radius: 25px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        } 

        .header {
            display: block;
        }

        .map {
            grid-row: 2/11;
            grid-column: 1/5;
        }
        
        
        .turbineDetails{
            grid-row: 4/11;
            grid-column: 5/6;
        }

        .chart{
            grid-row: 4/11;
            grid-column: 6/11;
        }

        canvas {
            /* Additional styles for the content inside grid items */
            max-width: 100%; /* Ensure content doesn't exceed the width of the grid item */
            max-height: 100%; /* Ensure content doesn't exceed the height of the grid item */
        }
        .card1{
            grid-row: 1/2;
            grid-column: 2/4;
        }

        .card2{
            grid-row: 1/4;
            grid-column: 5/7;
        }

        .card3{
            grid-row: 1/4;
            grid-column: 8/10;
        }

        .detailsContainer {
            display: grid;
            grid-template-rows: repeat(10,  minmax(0, 1fr)); /* Split into ten rows */
            grid-template-columns: repeat(2, 1fr);
            column-gap: 25px;
            margin: 10px;
            max-width: 100%; /* Set to 100% to take up full width of the viewport */
            /* width: 100vw; Ensure the container takes the full width of the viewport */
            height: 100%; /* Ensure the container takes the full height of the viewport */
        }

        .detailsContainer > div {
            align-self: center;
            justify-self: center;
            font-size: 11px;
            font-weight: bold;
        }

        .info {
            padding: 6px 8px;
            font: 14px/16px Arial, Helvetica, sans-serif;
            background: white;
            background: rgba(255,255,255,0.8);
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            border-radius: 5px;
        }

        .info h4 {
            margin: 0 0 5px;
            color: #777;
        }

        .legend {
            line-height: 18px;
            color: #555;
        }
        .legend i {
            width: 18px;
            height: 18px;
            float: left;
            margin-right: 8px;
            opacity: 0.7;
        }
    </style>
<body>
<!-- <div class="header"><h1>Wind Farms Map</h1></div> -->
<div class="container">
    <div class="card1"><button type="button" onclick= "getChoropleth()">choropleth layer</button></div>
    <div class="card2"><button type="button" onclick= "getWindPowerPerCounty()">Get Wind Power by County</button></div>
    <div class="card3"><button type="button" onclick= "getWindFarmWindPower()">Get Wind Power for all Windfarms</button></div>
    <div class="map" id="map"></div>
    <!-- Radio buttons for data selection -->
    <div class="turbineDetails">
        <div class = "detailsContainer">
                <div>Windfarm Name:</div>
                <div class="windfarmname"></div>

                <div>Number of turbines:</div>
                <div class="numberturbines"></div>

                <div>Rotor Diameter:</div>
                <div class="rotordiameter"></div>

                <div>Minimum hub height:</div>
                <div class="minhubheight"></div>

                <div>Maximum hub height:</div>
                <div class="maxhubheight"></div>
 
                <div>Cut-in wind speed:</div>
                <div class="cutinspeed"></div>

                <div>Cut-off wind speed:</div>
                <div class="cutoffspeed"></div>

                <div>Rated wind speed:</div>
                <div class="ratedspeed"></div>

                <div>Rated power:</div>
                <div class="ratedpower"></div>

                <div>Manufacturer:</div>
                <div class="manufacturer"></div>
        </div>
    </div>
    <div class="chart">
        <div class="buttons"> 
            <label>
                <input type="radio" name="dataSet" value="Windspeeds"> Wind Speed
            </label>
            <label>
                <input type="radio" name="dataSet" value="Windpowers" checked> Wind Power
            </label>
        </div>
        <button type="button" onclick="dayFilter()">Day</button>
        <button type="button" onclick="weekFilter()">Week</button>
        <button type="button" onclick="monthFilter()">Month</button>
        <button type="button" onclick="yearFilter()">Year</button>
        <canvas class="h-full w-full" id="windChart"></canvas>
    </div>
</div>
    
<script>
    function getLastYearsDate() {
        const now = new Date();

        return new Date(
            now.getFullYear()-1,
            now.getMonth(),
            now.getDate(),
  );
}
</script>
<script>
    function getLastmonthsDate() {
        const now = new Date();

        return new Date(
            now.getFullYear(),
            now.getMonth()-1,
            now.getDate(),
  );
}
</script>  
<script>
    function getLastWeeksDate() {
        const now = new Date();

        return new Date(
            now.getFullYear(),
            now.getMonth(),
            now.getDate() - 7,
  );
}
</script>

<script>
    function getYesterdaysDate() {
        const now = new Date();

        return new Date(
            now.getFullYear(),
            now.getMonth(),
            now.getDate(),
            now.getHours() -24
  );
}
</script>


<script>
    function dayFilter(){
        windChart.config.options.scales.x.time.unit = 'hour'
        windChart.config.options.scales.x.ticks.count = 24
        windChart.config.options.scales.x.ticks.maxTicksLimit = 24
        windChart.config.options.scales.x.min = getYesterdaysDate()
        windChart.config.options.scales.x.max = Date()
        windChart.update();
    }
    function weekFilter(){
        windChart.config.options.scales.x.time.unit = 'day'
        windChart.config.options.scales.x.ticks.count = 7
        windChart.config.options.scales.x.ticks.maxTicksLimit = 7
        windChart.config.options.scales.x.min = getLastWeeksDate()
        windChart.config.options.scales.x.max = Date()
        windChart.update();
    }

    function monthFilter(){
        windChart.config.options.scales.x.time.unit = 'week'
        windChart.config.options.scales.x.ticks.count = 4
        windChart.config.options.scales.x.ticks.maxTicksLimit = 4
        windChart.config.options.scales.x.min = getLastmonthsDate()
        windChart.config.options.scales.x.max = Date()
        windChart.update();
    }
    function yearFilter(){
        windChart.config.options.scales.x.time.unit = 'month'
        windChart.config.options.scales.x.ticks.count = 12
        windChart.config.options.scales.x.ticks.maxTicksLimit = 12
        windChart.config.options.scales.x.min = getLastYearsDate()
        windChart.config.options.scales.x.max = Date()
        windChart.update();
    }
</script>

<script>
    //data block 
    data = {
            labels: [],
            datasets: [{
                label: 'My Chart',
                data: [],
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 2,
                fill: false
            }]
        }
    // config 
    const config = {
      type: 'line',
      data,
      options: {
            scales: {
                x: {
                    type: 'time',
                    time: {
                            unit: 'hour',
                    },
                    ticks: {
                        count: 24,
                        maxTicksLimit: 24
                    },
                    min: getYesterdaysDate(),
                    max: Date(),
                },
                y: {
                    min: 0
                }
            }
        }
    };
    // render init block
    let windChart = new Chart(
      document.getElementById('windChart'),
      config
    );
</script>

<script>
    var turbine_icon = L.icon({
    iconUrl: '{{ url_for("static", filename="turbine-at-angle.png") }}',
    iconSize: [75, 75]
    });

    //Set the map with center of London
    let map = L.map('map').setView([53.5, -7.75], 7);

    //Set the tile layer of the map using openstreetmap
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);


    //Set a onclick function for the map to capture user click coordinates
    let popup = L.popup();
    
    //import Windfarm data from Flask
    windfarm_data = {{windfarm_data | safe}}

    //Create Cluster Group and add to map
    var markers = L.markerClusterGroup();
    

    // Loop through all windfarms and add a marker on into the Cluster object for each
    for (let i = 0; i < windfarm_data.length; i++) {
    marker = new L.marker([windfarm_data[i]['Latitude'], windfarm_data[i]['Longitude']], { icon: turbine_icon })
        .bindPopup(windfarm_data[i]['Wind Farm Name'])
        .on("click", clickMarker);

    markers.addLayer(marker);
    }

    map.addLayer(markers);
    

    // Set values in global scope
    let timestamp_values;
    let windspeed_values;
    let windpower_values;
    // Function for clicking on map markers that makes call to the server for the windspeed data for that windfarm
    function clickMarker(e) {
        // Set to empty array on every click so values do not stack
        timestamp_values = [];
        windspeed_values = [];
        windpower_values = [];
        console.log(e)
        // Set windfarm name to the popup content
        let windfarmName = e.target._popup._content
        //Set url to the url for the lookup route on flask server-side
        let lookup_url = {{ url_for('lookup')|tojson }} 
        //Set data to be posted to flask api
        let data = {"Windfarm": windfarmName}
        // fetch post request with data
        fetch(lookup_url, {
        "method": "POST",
        "headers": {"Content-Type": "application/json"},
        "body": JSON.stringify(data),
         })
        .then(function(response){
            return response.json()
        })
        .then(function(json){
            // Loop through the objects returned by server to get each object data and then add timestamps and windspeeds to an array
            for (const element of json) {
                console.log(element)
                timestamp_values.push(element['timestamp']['$date']);
                console.log(element['windspeed'])
                windspeed_values.push(element['windspeed']);
                windpower_values.push(element.windpower);
            };
            // Populate windChart x and y values with data 
            windChart.data.labels = timestamp_values
            windChart.data.datasets[0].data = windspeed_values
            console.log("Wind speed values " + windpower_values)
            // Update the windchart with the new data rather than adding another layer everytime function is called
            updateChartData(windspeed_values, windpower_values) 
        })
        //Set url to the url for the windturbine detials route on flask server-side
        lookup_url = {{ url_for('windfarm_details')|tojson }} 
        fetch(lookup_url, {
        "method": "POST",
        "headers": {"Content-Type": "application/json"},
        "body": JSON.stringify(data),
         })
        .then(function(response){
            return response.json();
        }).then(function(json){
            if (json[0]['Wind Farm Name'] != null ){
                document.querySelector('.windfarmname').textContent = json[0]['Wind Farm Name']
            } else{
                document.querySelector('.windfarmname').textContent = "N/A"
            }
            if (json[0]['Number of Turbines'] != null ){
                document.querySelector('.numberturbines').textContent = json[0]['Number of Turbines']
            } else{
                document.querySelector('.numberturbines').textContent = "N/A"
            }
            if (json[0]['Rotor diameter'] != null ){
                document.querySelector('.rotordiameter').textContent  = json[0]['Rotor diameter'] + "m"
            } else{
                document.querySelector('.rotordiameter').textContent = "N/A"
            }
            if (json[0]['Minimum hub height']  != null ){
                document.querySelector('.minhubheight').textContent  = json[0]['Minimum hub height'] + "m"
            } else{
                document.querySelector('.minhubheight').textContent = "N/A"
            }
            if (json[0]['Maximum hub height']  != null ){
                document.querySelector('.maxhubheight').textContent = json[0]['Maximum hub height'] + "m"
            } else{
                document.querySelector('.maxhubheight').textContent = "N/A"
            }
            if (json[0]['Cut-in wind speed']  != null ){
                document.querySelector('.cutinspeed').textContent = json[0]['Cut-in wind speed']  +"m/s"
            } else{
                document.querySelector('.cutinspeed').textContent = "N/A"
            }
            if (json[0]['Cut-off wind speed']  != null ){
                document.querySelector('.cutoffspeed').textContent = json[0]['Cut-off wind speed'] + "m/s"
            } else{
                document.querySelector('.cutoffspeed').textContent = "N/A"
            }
            if (json[0]['Rated wind speed']  != null ){
                document.querySelector('.ratedspeed').textContent = json[0]['Rated wind speed'] + "m/s"
            } else{
                document.querySelector('.ratedspeed').textContent = "N/A"
            }
            if (json[0]['Rated power']   != null ){
                document.querySelector('.ratedpower').textContent = json[0]['Rated power'] + "W"
            } else{
                document.querySelector('.ratedpower').textContent = "N/A"
            }
            if (json[0]['Manufacturer']  != null ){
                document.querySelector('.manufacturer').textContent = json[0]['Manufacturer']
            } else{
                document.querySelector('.manufacturer').textContent = "N/A"
            }
        }
        )
    };

        // Function to update chart data based on selected radio button
        function updateChartData(windspeeds, windpowers) {
        let selectedDataSet = document.querySelector('input[name="dataSet"]:checked').value;

        if (selectedDataSet === 'Windspeeds') {
            windChart.data.datasets[0].data = windspeeds;
            windChart.data.datasets[0].label = 'Wind Speed';
        } else if (selectedDataSet === 'Windpowers') {
            windChart.data.datasets[0].data = windpowers;
            windChart.data.datasets[0].label = 'Wind Power';
        }

        const object_check = windChart.data.datasets[0].data.some(function(element){ return typeof element === 'object'});
        const all_zero_check = windChart.data.datasets[0].data.every(function(element){return element === 0 })
        console.log(all_zero_check)
        console.log(object_check)
        if (object_check !== true && all_zero_check !== true){
            chartYaxisLabels();

        };
        // Update the windchart with the new data rather than adding another layer everytime function is called
        windChart.update();

        
    }
    // // Add event listener to radio buttons
    let radioButtons = document.querySelectorAll('input[name="dataSet"]');
    radioButtons.forEach(function (radioButton) {
    // Reference function pass to addEventlistener
    radioButton.addEventListener('change', function() {updateChartData(windspeed_values, windpower_values)} )
    });
    
</script>
<script>
     async function getChoropleth(){
        let choropleth_url = {{ url_for('choropleth')|tojson }}
        let response = await fetch(choropleth_url)
        let choropleth_json = await response.json()
            L.geoJson(choropleth_json).addTo(map);
            console.log(choropleth_json)
    }
</script>

<script>
function getColor(windpower) {
    console.log(windpower)
        return  windpower > 1000000000 ? '#006d2c' :
                windpower > 800000000 ? '#31a354' :
                windpower > 600000000 ? '#74c476' :
                windpower > 400000000 ? '#a1d99b' :
                windpower > 200000000 ? '#c7e9c0' :
                                        '#edf8e9' ;
    };

    function style(feature) {
    return {
        fillColor: getColor(feature.properties.windpower),
        weight: 2,
        opacity: 1,
        color: 'white',
        dashArray: '3',
        fillOpacity: 0.7
    };
}
</script>
<script>
    let info;
    async function getWindPowerPerCounty(){
        // //Declare arrays
        // let timestamp_values = [];
        // let windspeed_values = [];
        // let windpower_values = [];
        // let windpower_sum = 0;
        let choropleth_url = {{ url_for('choropleth')|tojson }}

        let choro_response = await fetch(choropleth_url);
        let choro_json = await choro_response.json();

        // // Perform the point-in-polygon check

        // // Begin looping through the counties
        county_windpower_list = await getWindFarmWindPower()
        
                    // })

  

        // Adding custom info control to map
        info = L.control();

        info.onAdd = function (map) {
            this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
            this.update();
            return this._div;
        };

        // method that we will use to update the control based on feature properties passed
        info.update = function (props) {
            this._div.innerHTML = '<h4>US Population Density</h4>' +  (props ?
                '<b>' + props.windpower + '</b><br />' + props.windpower + ' MW '
                : 'Hover over a state');
        };

        info.addTo(map);
        

        geojson = L.geoJson(county_windpower_list, {
            style: style,
            onEachFeature: onEachFeature
        }).addTo(map);

        // Now add a legend to the map
        var legend = L.control({position: 'bottomright'});

        legend.onAdd = function (map) {

            var div = L.DomUtil.create('div', 'info legend'),
                grades = [0, 10, 20, 50, 100, 200, 500, 1000],
                labels = [];

            // loop through our density intervals and generate a label with a colored square for each interval
            for (var i = 0; i < grades.length; i++) {
                div.innerHTML +=
                    '<i style="background:' + getColor(grades[i] + 1) + '"></i> ' +
                    grades[i] + (grades[i + 1] ? '&ndash;' + grades[i + 1] + '<br>' : '+');
            }
            return div;
        };

        legend.addTo(map);
    };
</script>

<script>
    async function getWindFarmWindPower(){
        // Url for windpower
        let windpower_url = {{url_for('aggregate_windpower')|tojson}};
        let windpower_response = await fetch(windpower_url);
        let windpower_json = await windpower_response.json();
        console.log(windpower_json)
        return windpower_json
    }
    //     // Fetch request with data
    //     fetch(windpower_url)
    //         .then(response => {
    //             // Check if the response is not okay
    //             if (!response.ok) {
    //                 throw new Error(`HTTP error! Status: ${response.status}`);
    //             }
                
    //             // Parse the JSON data from the response
    //             return response.json();
    //         })
    //         .then(response => {
    //             console.log("Json response: ", response);
    //             // Handle the JSON data here as needed
    //         })
    //         .catch(error => {
    //             console.error('Error fetching windpower data:', error);
    //         });
    // }
</script>

<script>
    function chartYaxisLabels(){
        windChart.options.scales.y.ticks = {callback:function(context,index){
            return context/10**6 + "MW"
        }}
    }
</script>

<script>
    function highlightFeature(e) {
    var layer = e.target;
    info.update(layer.feature.properties);

    layer.setStyle({
        weight: 5,
        color: '#666',
        dashArray: '',
        fillOpacity: 0.7
    });

    layer.bringToFront();
};

function resetHighlight(e) {
    geojson.resetStyle(e.target);
    info.update();
};

function onEachFeature(feature, layer) {
    layer.on({
        mouseover: highlightFeature,
        mouseout: resetHighlight,
    });
};
</script>

</body>
</html>